<%= form_with(model: @task, local: true) do |t| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group my-3">
    <%= t.label :title %>
    <%= t.text_field :title, class:"form-control" %>
  </div>
  <div class="form-group my-3">
    <%= t.label :content %>
    <%= t.text_field :content, class:"form-control" %>
  </div>
  <div class="form-group my-3">
    <%= t.label :deadline %>
    <%= t.date_field :deadline, class:"form-control" %>
  </div>
  <div class="form-group my-3">
    <%= t.label :status %>
    <%= t.select :status ,["未着手","着手中","完了"] , {} , class:"form-control" %>
  </div>
  <div class="form-group my-3">
    <%= t.label :priority %>
    <%= t.select :priority ,Task.priorities.keys, {}, class:"form-control" %>
  </div>
  <div class="form-group my-3">
    <% Label.all.each do |lab| %>
      <%= t.check_box :label_ids, { multiple: true }, lab[:id], nil %>
      <%= t.label :label_ids, lab.labelname, value: lab[:id] %>
    <% end %>
  </div>
  <%= t.submit "登録", class: "btn btn-primary mt-3" %>
<% end %>