<h1 class="my-3">タスク一覧</h1>

<div class="my-3">
  <%= form_with(url: tasks_path, local: true, method: :get ) do |t| %>
    <%= t.label "タスク名", class: "col-sm-1 pl-3" %>
    <%= t.text_field :search, class: "col-sm-3 mr-3" %>
    <%= t.label "　ステータス", class: "col-sm-2" %>
    <%= t.select :select,options_for_select(["","未着手","着手中","完了"]), {}, class: "dropdown col-sm-2" %>
    <%= t.label "　ラベル", class: "col-sm-1" %>
    <%= t.select :select2, options_for_select(Label.all.pluck(:labelname).unshift('')),{}, class: "col-sm-1"%>
    <%= t.submit "検索", class: "btn btn-outline-primary ml-2" %>
  <% end %>
</div>
<div class="mb-3">
  <table class="table table-hover">
    <thead class="tehad-default">
      <tr>
        <th>タイトル</th>
        <th><%= link_to "期限", tasks_path(sort_expired: "true") %></th>
        <th>ステータス</th>
        <th>更新日時</th>
        <th><%= link_to "優先度", tasks_path(sort_priority: "true") %></th>
        <th>作成者</th>
        <th>ラベル</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |t| %>
        <tr>
          <td><%= link_to t.title, task_path(t.id),class: "task_row" %></td>
          <td><%= t.deadline %></td>
          <td><%= t.status %></td>
          <td><%= t.created_at %></td>
          <td><%= t.priority %></td>
          <td><%= t.user.name %></td>
          <td><%= t.labels.pluck(:labelname).join("、") %></td>
          <td><%= link_to "編集", edit_task_path(t.id), class: "btn btn-outline-secondary" %></td>
          <td><%= link_to "削除", task_path(t.id), method: :delete, class: "btn btn-danger", data: { confirm: '本当に削除していいですか' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @tasks %>
</div>
  <%= link_to "新規登録", new_task_path, class: "btn btn-primary" %>
