<h1 class="my-3">詳細画面</h1>

<table class="table table-hover">
  <tbody>
    <tr>
      <th>ユーザーID</th>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>投稿数</th>
      <th><%= @user.tasks.count %></th>
    </tr>
    <tr>
      <th>管理者権限</th>
      <th><%= @user.admin %></th>
    </tr>
    <tr>
      <th>登録日時</th>
      <td><%= @user.created_at %></td>
    </tr>
    <tr>
      <th>更新日時</th>
      <td><%= @user.updated_at %></td>
    </tr>
  </tbody>
</table>
<%= link_to "編集", edit_admin_user_path(@user.id), class: "btn btn-outline-secondary" %>
<%= link_to "削除", admin_user_path(@user.id), method: :delete, class: "btn btn-danger", data: { confirm: '本当に削除していいですか' } %>