<!DOCTYPE html>
<html>
  <head>
    <title>ToDoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <head>
      <nav class="app-title navbar navbar-expand-md navbar-light bg-light">
        <div class="navbar-brand">To Doアプリ</div>
        <ul class="navbar-nav ml-auto">
          <% if logged_in? %>
            <li class="nav-item"><%= link_to "タスク登録", new_task_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "タスク一覧", tasks_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "マイページ", user_path(current_user), class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "ログアウト", session_path(current_user.id),method: :delete, class: "nav-link" %></li>
          <% else %>
            <li class="nav-item"><%= link_to "新規登録", new_user_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "ログイン", new_session_path, class: "nav-link" %></li>
          <% end %>
          <% if current_user != nil && current_user.admin %>
            <li class="nav-item"><%= link_to "管理者画面", admin_users_path, class: "nav-link" %></li>
          <% end %>
        </ul>
      </nav>
    </head>
    <div class='container'>
      <% flash.each do |key,value| %>
        <%= content_tag(:div, value, class:"#{key}") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
